$background-color: black
$primary-color: #fff
$secondary-color: #4f4f4f
$slider-width: 1435px
$slider-height: 540px
$slider-animation-duration: 20s
$card-width: 300px
$card-border: 1px solid #ccc
$card-border-radius: 5px
$card-padding: 20px
$card-margin: 10px
$card-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
$card-background-color: #555
$button-background-color: #555
$button-hover-transform: translateY(-10px)
$dropdown-background-color: #333
$dropdown-content-width: 200px
$dropdown-content-left: 0
$dropdown-content-top: 30px

body{
  background-color: $background-color
  margin: 0
  padding: 0}

header
  display: flex
  padding: 10px
  color: $primary-color
  justify-content: space-between
  align-items: center

  #logo
    display: flex
    align-items: center

    h1
      margin-left: 10px
      order: 1

  #cuenta
    order: 1
    transition: transform 0.3s ease-out

    a
      padding: 8px 16px
      background-color: $secondary-color
      color: $primary-color
      text-decoration: none
      border-radius: 5px

    &:hover
      transform: translateY(-10px)

.fondos
  background-color: $dropdown-background-color
  justify-content: center
  color: $primary-color
  display: flex
  padding: 0
  margin: 10px
  border-radius: 5px

.slider
  width: $slider-width
  height: $slider-height
  overflow: hidden
  position: relative
  margin: 0 auto
  padding: 0
  box-sizing: border-box

  ul
    display: flex
    animation: cambio $slider-animation-duration infinite alternate linear
    width: 400%
    position: absolute
    left: 0
    margin: 0 auto
    padding: 0
    box-sizing: border-box

  li
    width: 100%
    list-style: none
    margin: 0 auto
    padding: 0
    box-sizing: border-box

  img
    object-fit: cover

@keyframes cambio
  0%
    margin-left: 0
  20%
    margin-left: 0
  25%
    margin-left: -100%
  45%
    margin-left: -100%
  50%
    margin-left: -200%
  70%
    margin-left: -200%
  75%
    margin-left: -300%
  100%
    margin-left: -300%

// ... Resto de tu código SASS

@media (max-width: 600px)
  #menu1
    list-style-type: none
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    padding: 0

  li
    display: inline-block

  .card
    width: 10%

  .card
    width: 35%
    margin: 5px

  .imagmenu
    display: flex
    flex-wrap: wrap
    justify-content: center

  .fondos
    width: auto
    margin: 10px auto

  .slider
    width: 100%
    height: 146.9px

  .slider img
    max-width: 100%
    height: auto

  .dropdown
    position: relative
    display: flex
    align-items: center
    margin-right: 20px

  .dropdown button
    width: 100%
    text-align: left

  .dropdown-content
    width: $dropdown-content-width
    left: $dropdown-content-left
    top: $dropdown-content-top

  .dropdown-content li
    padding: 5px
    width: 100%