body {
  background-color: black;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  padding: 10px;
  color: #fff;
  justify-content: space-between;
  align-items: center;
}

#logo {
  display: flex;
  align-items: center;
}

#logo h1 {
  margin-left: 10px;
  order: 1;
}

#cuenta {
  order: 1;
  transition: transform 0.3s ease-out;
}

#cuenta a {
  padding: 8px 16px;
  background-color: #4f4f4f;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

#cuenta:hover {
  transform: translateY(-10px);
}

.fondos{
  background-color: #333;
  justify-content: center;
  color: #fff;
  display: flex;
  padding: 0;
  margin: 10px;
  border-radius: 5px;
}

.slider {
width: 1435px;
height: 540px;
overflow: hidden;
position: relative;
margin: 0 auto;
padding: 0;
box-sizing: border-box;
}

.slider ul {
display: flex;
animation: cambio 20s infinite alternate linear;
width: 400%;
position: absolute;
left: 0;
margin: 0 auto;
padding: 0;
box-sizing: border-box;
}

.slider li {
width: 100%;
list-style: none;
margin: 0 auto;
padding: 0;
box-sizing: border-box;
}

.slider img{
object-fit: cover;
}

@keyframes cambio {
0%{margin-left: 0;}
20%{margin-left: 0;}

25%{margin-left: -100%;}
45%{margin-left: -100%;}

50%{margin-left: -200%;}
70%{margin-left: -200%;}

75%{margin-left: -300%;}
100%{margin-left: -300%;}
}

/*** interactividad del menu ***/

#menu1{
  list-style-type: none;
  display: flex;
}

li {
  margin-right: 20px;
  list-style-type: none;
}

a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.enlace-menu:hover {
  background-color: #555;
}

.imagmenu {
  display: flex;
  padding-left: 10px;
}

/*** Interacción de las cartas ***/

.card {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #555;
  transition: transform 0.3s ease-out;
}

.card:hover {
  transform: translateY(-10px);
}

main h2 {
  text-align: center;
}
main {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  color: #fff;
}

.formulario {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

input, textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

main button {
  padding: 10px 20px;
  background-color:#555;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease-out;
}

button:hover {
transform: translateY(-10px);
}

/*** Inicio sesión ***/

.container {
  display: flex;
}

.login-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  justify-content: center;
}

.login-section header {
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form input {
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 5px;
  border: 2px solid #5f6062;
  border-radius: 5px;
}

.login-form button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #56585a;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease-out;
}

.login-form button:hover {
  transform: translateY(-10px);
}

.links {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
 
}

.links a {
  text-decoration: none;
  color: #fff;
}

.links a:hover {
  text-decoration: underline;
}

.image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-section img {
  max-width: 800px;
  border-radius: 5px;
}


.dropdown button {
  background-color:  #333;
  color: #fff;
border: none;
padding: 10px 20px;
cursor: pointer;
}
.dropdown-content {
  display: none;
  list-style-type: none;
  background-color: #333;
  padding: 0;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
}

.dropdown-content li {
  padding: 5px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover{
  background-color: #555;
}

ul.dropdown{
  padding: 0 0 0 2px;
}

/*** Dispositivos mobiles ***/

@media (max-width: 600px){
  #menu1 {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    padding: 0;
  }

  li {
    display: inline-block;
  }

  .card {
    width: 10%;
  }
  .card {
    width: 35%;
    margin: 5px; 
  }
  
  .imagmenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .fondos {
    width: auto;
    margin: 10px auto; 
  }

  .slider {
    width: 100%; 
    height: 146.9px;
  }
  
  .slider img {
    max-width: 100%; 
    height: auto; 
  }

  .dropdown {
    position: relative; 
    display: flex; 
    align-items: center; 
    margin-right: 20px;
  }

  .dropdown button {

    width: 100%;
    text-align: left;
  }

  .dropdown-content {
    width: 200px;
    left: 0;
    top: 30px;
  }

  .dropdown-content li {
    padding: 5px;
    width: 100%; 
  }
}
